/*<editor-fold defaultstate="collapsed" desc="Main">*/
html, body {
    height: 100%;
}

.wrap {
    height: auto;
    margin: 0 auto;
    min-height: 100%;
}

body {
    padding-top: 50px;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    min-width: 1336px;
}

div.main {
    width: 90%;
    margin: auto;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.content {
    min-height: 554px;
    width: auto;
    background-color: #f4f4f4;
    padding-left: 30px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.errorMessage {
    font-size: 12px;
    color: red;
    margin-top: 2px;
    text-align: center;
}

.gray {
    background-color: #E4E4E4;
}

.yellow-row {
    background-color: #FFFF8A;
}

.red-row {
    background-color: #FF7373;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Navbar-menu">*/

.navbar-search {
    position: absolute;
    width: auto;
    right: 5px;
    top: 0;
}

.navbar-menu {
}

.navbar-menu ul{
    width: 500px;
}

.navbar-menu ul li a{
    color: black;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
}

.navbar-menu ul li {
    height: 50px;
    float: left;
    list-style: none;
    border-left: 1px solid rgba(200,200,200,0.4);
}

.navbar-menu ul li:hover {
    cursor: pointer;
    background-color: rgba(200,200,200,0.4);
}

.navbar-menu ul li.right-menu {
    border-right: 1px solid rgba(200,200,200,0.4);
}
/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Breadcrumbs">*/

.breadcrumbs {
    color: #656262;
    margin-top: 15px;
    font-size: 11px;
    font-weight: bold;
}

.breadcrumbs a{
    color: gray;
    font-weight: normal;
}

.breadcrumbs a:hover{
    color: black;
    font-weight: normal;
}

/*</editor-fold>*/

/*<editor-fold defaultstate="collapsed" desc="Footer">*/

#footer {
    font-size: 12px;
    background-color: #BFBFBF;
    text-align: center;
    box-shadow: inset 0 7px 9px -2px rgba(255,255,255,1);
    padding-top: 10px;
}

/*</editor-fold>*/